<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
	  <TargetFramework>net472</TargetFramework>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Users\SHRIKANT\Documents\C#(UAT)\C#\Breeze\bin\Release\net472\publish</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
  </PropertyGroup>
</Project>